
@{
    ViewData["Title"] = "Home";
}


    <div class="text-center">
        <h1 class="display-4" style="color:purple">Welcome To Your Teddy World!!</h1>
    </div>
    <div class="clear"></div>
    <div class="clear"></div>

    <div>
        <img src="~/img/mainpage.jpg" width="1100" height="400">
    </div>
